.reveal .subtitle {
  font-size: 1.5em;
  font-weight: 400;
}

.nice-text h1, .nice-text h2, .nice-text p {
  background: rgba(0, 0, 0, 0.75);
  color:white;
}

#vc img {
  margin: 0;
  border-style: none;
  box-shadow: none;
}

#links img {
  margin: 0;
  border-style: none;
  box-shadow: none;
}

#footer {
    position: absolute;
    bottom: .5%;
    left: 5%;
    box-sizing: border-box;
    height: 67px;
}

.child {
  float: left;
  margin-right:5px;
  display: flex;
  align-items: center;
  height: 57px;
}

.band {
    background-color: #2f2f2f;
    color: white;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    width: 85%;
    height: 100%;
}

.bandContent {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
    margin: 0 auto;
    max-width: 1140px;
    height: 67px;
}


